@import "../../GlobalStyle.scss";
.chart-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  border-radius: $main-border-radius;
  background: $light-theme-main-color;
  padding: 10px;
  .visualize-output {
    display: flex;
    justify-content: space-between;
    .img-container {
      border-radius: $main-border-radius;
      border: 1px solid $main-border-color;
      width: 50%;
      img {
        width: 100%;
        border-radius: $main-border-radius;
      }
    }
    .explain {
      width: 50%;
      display: flex;
      flex-direction: column;
      padding-left: 10px;
      .control-bar {
        text-align: right;
        button {
          margin-bottom: 10px;
          background: none;
          border: none;
          cursor: pointer;
        }
      }
      h3,
      p {
        margin-bottom: 10px;
      }
      .visualization {
        color: $csv-color;
      }
      textarea {
        border: 1px solid $main-border-color;
        flex: 1;
        resize: none;
        padding: 10px;
        font-size: 16px;
        border-radius: $main-border-radius;
        font-family: Arial, Helvetica, sans-serif;
        outline: none;
        text-align: justify;
        margin-bottom: 10px;
      }
      .modify-input {
        padding: 10px;
        border-radius: $main-border-radius;
        background: $light-theme-third-color;
        display: flex;
        input {
          padding: 10px;
          border: none;
          background: $light-theme-main-color;
          border-radius: $main-border-radius;
          outline-style: none;
          font-size: 16px;
          flex: 1;
          margin-right: 10px;
        }
        button {
          padding: 10px 20px;
          border: none;
          cursor: pointer;
          background: $csv-color;
          color: $dark-theme-text-color;
          border-radius: $main-border-radius;
        }
        textarea,
        button,
        input {
          &:disabled {
            background: #ccc;
            cursor: not-allowed;
            i {
              animation: rotation 1s infinite linear;
            }
          }
        
        }
        @keyframes rotation {
          from {
            transform: rotate(0deg);
          }
          to {
            transform: rotate(359deg);
          }
        }
      }
    }
  }
}
