$light-theme-main-color: #fff;
$light-theme-secondary-color: #f2f2f2;
$light-theme-third-color: #e2eefc;

$dark-theme-main-color: #18191a;
$dark-theme-secondary-color: #242526;
$dark-theme-third-color: #3a3b3c;

// text color
$highlight-text-color: #007bff;
$light-theme-text-color: #000;
$dark-theme-text-color: #f2f2f2;
$second-text-color: #a1a1a1;

// element color
$highlight-element-color: #e9f2fa;

// input color
$focus-input-color: #007bff;
$input-boder-color: #ccc;

// border
$main-border-radius: 5px;
$second-border-radius: 10px;
$main-border-color: #ccc;

// button
$primary-button-color: #007bff;

$light-button-background-color: #fff;
$dark-button-background-color: #333;

// footer
$light-footer-bg-color: #f2f2f2;

$csv-color: #16a34a;

$breakpoints: (
    phone-sm: 420px,
    surface-duo: 540px,
    phone: 767px,
    tablet: 768px,
    tablet-lg: 1024px,
    desktop: 1025px,
    desktop-lg: 1600px
  
);
//Mixin
@mixin for-size($breakpoint) {
    //Kiểm tra breakpoint truyền vào có tồn tại như bạn đã định nghĩa hay không.
    @if map-has-key($breakpoints, $breakpoint) {
        // Lấy giá trị pixel breakpoint đó
        $breakpoint-value: map-get($breakpoints, $breakpoint);

        //Build media query tự động
        @media (max-width: $breakpoint-value) {
            //Những gì bạn mong muốn sẽ được lồng vào @content
            @content;
        }
    }
}
