$light-theme-main-color: #fff;

// text color 
$highlight-text-color: #007bff;
$light-theme-text-color: #000;
$dark-theme-text-color: #fff;

$highlight-element-color: #e9f2fa;

$main-border-radius: 5px