@import "../../GlobalStyle.scss";
.create-article-container {
  width: 100%;
  max-width: 1400px;
  margin: auto;
  padding-top: 10px;
  .file-input {
    width: 100%;
    margin-bottom: 10px;
    input {
      display: none;
    }
    label {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding: 10px;
      border-radius: $main-border-radius;
      background: $light-theme-secondary-color;
      border: 2px dashed $main-border-color;
      cursor: pointer;
      transition: 0.4s;
      i {
        padding: 20px;
        height: fit-content;
      }
      &:hover {
        background: #ccc;
      }
    }
  }
  .title {
    display: flex;
    align-items: center;
    i {
      margin-right: 10px;
    }
  }
  .summary-header,
  .goals-header {
    border-top-left-radius: $main-border-radius;
    border-top-right-radius: $main-border-radius;
    padding: 20px 10px;
    background: $light-theme-third-color;
  }
  .summary-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background: $light-theme-secondary-color;
    border-bottom-left-radius: $main-border-radius;
    border-bottom-right-radius: $main-border-radius;
    justify-content: space-evenly;
    margin-bottom: 10px;
    padding-top: 10px;
    transition: height 0.2s ease-out;
    .field-item {
      background: $light-theme-third-color;
      padding: 10px;
      flex-basis: 19%;
      margin-bottom: 10px;
      border-radius: $main-border-radius;
      display: flex;
      flex-direction: column;
      transition: 0.4s;
      border: 1px solid $light-theme-third-color;

      &:hover {
        border: 1px solid $csv-color;
      }
      h4 {
        margin-bottom: 10px;
        color: $csv-color;
      }
      p {
        margin-bottom: 10px;
        font-size: 14px;
      }
      .samples-list {
        display: flex;
        flex-wrap: wrap;
        flex: 1;
        background: $light-theme-main-color;
        border-radius: $main-border-radius;
        padding: 10px;
        padding-bottom: 0;
        .sample-item {
          padding: 5px;
          border-radius: $main-border-radius;
          border: 1px solid $main-border-color;
          font-size: 14px;
          margin-right: 10px;
          margin-bottom: 10px;
          height: fit-content;
        }
      }
    }
  }
  .goals-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: $light-theme-secondary-color;
    border-bottom-left-radius: $main-border-radius;
    border-bottom-right-radius: $main-border-radius;
    padding: 10px 10px 0 10px;
    justify-content: space-evenly;
    margin-bottom: 10px;
    .goal-item {
      background: $light-theme-third-color;
      padding: 10px;
      flex-basis: 19%;
      margin-bottom: 10px;
      border-radius: $main-border-radius;
      display: flex;
      flex-direction: column;
      border: 1px solid $light-theme-third-color;
      transition: 0.4s;
      cursor: pointer;
      h4 {
        margin-bottom: 10px;
      }
      .visualization {
        color: $csv-color;
        margin-bottom: 10px;
      }
      &:hover {
        border: 1px solid $csv-color;
      }
      p {
        font-size: 14px;
      }
    }
  }
  .visualize-container {
    display: flex;
    flex-direction: column;
    .custom-goal-input {
      padding: 10px;
      border-radius: $main-border-radius;
      border: 1px solid $main-border-color;
      display: flex;
      input {
        padding: 10px;
        border: 1px solid $main-border-color;
        background: $light-theme-secondary-color;
        border-radius: $main-border-radius;
        outline-style: none;
        flex: 1;
        margin-right: 10px;
        font-size: 16px;
      }
      button {
        padding: 15px 20px;
        color: $dark-theme-text-color;
        background: $csv-color;
        border: none;
        border-radius: $main-border-radius;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
      }
    }
    .goal-visualized {
      display: flex;
      flex-direction: column;
      .chart-item {
        width: 800px;
        border: 1px solid $main-border-color;
        img {
          width: 100%;
        }
      }
    }
  }
}
