@import "../GlobalStyle.scss";
.comment-section {
  border: 1px solid $main-border-color;
  padding: 20px 40px;
  border-radius: $second-border-radius;
  h3 {
    margin-bottom: 20px;
  }
  form {
    .add-comment-field {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 20px;
      .avatar-container {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        img {
          width: 100%;
          border-radius: 50%;
          height: 100%;
        }
      }
      input {
        padding: 15px;
        border: none;
        background: $light-theme-secondary-color;
        flex: 1;
        margin-left: 10px;
        border-bottom-left-radius: $main-border-radius;
        border-top-left-radius: $main-border-radius;
        outline: none;
        font-size: 16px;
      }
      .btn-container {
        background: $light-theme-secondary-color;
        border-bottom-right-radius: $main-border-radius;
        border-top-right-radius: $main-border-radius;
        height: 48.4px;
        padding: 0 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        button {
          cursor: pointer;
          border: none;
          background: none;
          padding: 10px;
          border-radius: $main-border-radius;
          font-weight: bold;
          background: #007bff;
          color: #fff;
        }
      }
    }
  }
  .comments-container {
    max-height: 400px;
    overflow: auto;
    .comment-item {
      .comment-detail {
        display: flex;
        padding: 10px 0;
        .avatar-container {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          margin-right: 10px;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 50%;
          }
        }
        .detail-right {
          flex: 1;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          .top-detail {
            display: flex;
            align-items: center;
            font-size: 14px;
            .user-name {
              font-weight: bold;
            }
            .comment-date {
              color: #a1a1a1;
              margin-left: 10px;
            }
          }
        }
      }
      .interact-bar {
        display: flex;
        margin-left: 20px;
        border-left: 1px solid $main-border-color;
        padding-left: 30px;
        button {
          padding: 5px;
          background: none;
          border: none;
          cursor: pointer;
          margin-right: 10px;
        }
      }
      .reply-form {
        margin-left: 20px;
        border-left: 1px solid $main-border-color;
        padding-left: 30px;
        input {
          padding: 10px;
          border: none;
          background: $light-theme-secondary-color;
          border-radius: $main-border-radius;
          outline: none;
        }
      }
      .reply-item {
        margin-left: 20px;
        border-left: 1px solid $main-border-color;
        padding-left: 30px;
        .reply-content {
          display: flex;
          padding: 10px 0;
          .avatar-container {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            margin-right: 10px;
            img {
              width: 100%;
              border-radius: 50%;
              height: 100%;
            }
          }
          .detail-right {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .top-detail {
              display: flex;
              align-items: center;
              font-size: 14px;
              .user-name {
                font-weight: bold;
              }
              .comment-date {
                color: #a1a1a1;
                margin-left: 10px;
              }
            }
          }
        }
      }
    }
  }
}
