@import "../GlobalStyle.scss";

.select-input {
  padding: 10px;
  font-size: 16px;
  border-radius: $main-border-radius;
  color: $dark-theme-text-color;
  background: $primary-button-color;
  border: none;
  outline: none;
  transition: 0.4s;
  margin-left: 10px;
  width: 150px;
  cursor: pointer;
  option {
  background: #fff;

    cursor: pointer;
  }
}
