@import "../GlobalStyle.scss";

.select-input {
  padding: 10px;
  font-size: 16px;
  border-radius: $main-border-radius;
  color: $primary-button-color;
  border: 1px solid $primary-button-color;
  outline: none;
  transition: 0.4s;
  margin-left: 10px;
  width: 150px;
  cursor: pointer;
  &.dark {
    border: 1px solid $dark-theme-third-color;
    background: $dark-theme-third-color;
  }
  option {
    cursor: pointer;
  }
}
