@import "../GlobalStyle.scss";

.select-input {
  padding: 10px;
  font-size: 16px;
  border-radius: $main-border-radius;
  color: $primary-button-color;
  border: 1px solid $primary-button-color;
  outline: none;
  transition: 0.4s;
  margin: 10px;
  &.light {
  }
  option{
    
  }
}
