@import "../GlobalStyle.scss";
.data-access-side-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  position: sticky;
  top: 0;
  align-self: flex-start;
  height: 100vh;
  transition: 0.4s;
  width: 60px;
  overflow: hidden;
  &.light {
    background: $light-theme-main-color;
    border-right: 1px solid $main-border-color;
  }
  &.dark {
    background: $dark-theme-main-color;
    border-right: 1px solid $dark-theme-secondary-color;
  }
  a {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
    font-weight: bold;
    padding: 10px;
    border-radius: $main-border-radius;
    transition: 0.4s;
    img {
      width: 20px;
      height: 20px;
      color: $highlight-text-color;
    }
    p {
      margin-left: 20px;
      text-wrap: nowrap;
      transition: 0.4s;
    }
    p {
      &.light {
        color: $light-theme-text-color;
      }
      &.dark {
        color: $dark-theme-text-color;
      }
    }
    &.light:hover {
      background: $highlight-element-color;
      p {
        color: $highlight-text-color;
      }
    }
    &.dark:hover {
      background: $dark-theme-third-color;
    }
  }
  .link-active {
    &.light {
      background: $highlight-element-color;
      p {
        color: $highlight-text-color;
      }
    }
    &.dark {
      background: $dark-theme-third-color;
    }
  }
  &.expanded {
    width: 250px;
  }
  button {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    &.expanded {
      transform: rotate(180deg);
    }
    &.dark{
      border: 1px solid $dark-theme-third-color;
    }
  }
}
