@import "../GlobalStyle.scss";

.input-text {
  padding: 10px;
  border: 2px solid $input-boder-color;
  border-radius: $main-border-radius;
  width: 100%;
  font-size: 16px;
}
.input-text:focus {
  transition: 0.4s;
  border-color: $focus-input-color;
  outline: 0;
  box-shadow: 0 0 10px $focus-input-color;
}
