@import "../GlobalStyle.scss";

.container-news {
    width: 100%;
    padding: 5rem 10% 0 10%;

    .heading {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .title {
            font-size: 50px;
            font-weight: bold;
            display: flex;
        }

        .input-search {
            width: 25%;
            border-bottom: 1px solid $dark-button-background-color;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            .input-type {
                height: 35px;
                width: calc(100% - 30px);
                border: none;
                outline: none;
            }
            .search-icon {
                width: 30px;
                height: 30px;
            }
            &::placeholder {
                color: $input-boder-color;
                font-size: 18px;
                line-height: 25px;
            }
        }
    }
    .block-news {
        display: block;
        margin: 80px auto;

        .news-card {
            display: flex;
            color: $dark-button-background-color;
            height: 210px;
            margin-bottom: 54px;
            border-bottom: 1px solid $dark-button-background-color;
            padding: 30px;

            .feed-image {
                flex: 1;
                max-width: 256px;
            }

            .information {
                flex: 4;
                margin-left: 37px;
                .title-news {
                    font-size: 20px;
                    font-weight: bold;
                    line-height: 27px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 1;
                    margin-top: 10px;
                }
                .content {
                    margin-top: 16px;
                    font-size: 13px;
                    line-height: 18px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 3;
                }
                .date {
                    font-size: 15px;
                    line-height: 20px;
                    margin-top: 34px;
                    font-size: 13px;
                    line-height: 18px;
                }
            }
        }
    }
}
