@import "../GlobalStyle.scss";

.data-page-container {
  display: flex;
  .outlet-container {
    padding: 10px 20px;
    padding-bottom: 100px;
    flex: 1;
    transition: 0.4s;
    &.light {
      background: $light-theme-main-color;
    }
    &.dark {
      background: $dark-theme-secondary-color;
    }
  }
}
