@import "../GlobalStyle.scss";
.home-container {
  transition: 0.4s;
  &.light {
    background: $light-theme-main-color;
  }
  &.dark {
    background: $dark-theme-main-color;
  }
  .news-container {
    width: 100%;
    max-width: 1400px;
    margin: auto;
    transition: 0.4s;
    &.light {
      background: $light-theme-main-color;
    }
    &.dark {
      background: $dark-theme-secondary-color;
    }
    .featured-news {
      text-align: center;
      width: 100%;
      font-size: 30px;
      font-weight: bold;
      transition: 0.4s;
      padding: 20px 0;
      &.light {
        color: $light-theme-text-color;
      }
      &.dark {
        color: $dark-theme-text-color;
      }
    }
    .new-feed {
      display: flex;
      width: 90%;
      height: 315px;
      margin: auto;
      margin-bottom: 20px;
      position: relative;
      .feed-information {
        flex: 1;
        padding: 1.5rem;
        transition: 0.4s;
        &.light {
          background: $light-theme-main-color;
          border: 1px solid $main-border-color;
        }
        &.dark {
          background: $dark-theme-third-color;
          border: 1px solid $dark-theme-third-color;
          .date,
          .title-nf,
          .content {
            color: $dark-theme-text-color;
            transition: 0.4s;
          }
        }
        .date {
          font-size: 15px;
          font-weight: bold;
          line-height: 20px;
        }
        .title-nf {
          font-size: 25px;
          font-weight: bold;
          line-height: 34px;
          margin-top: 17px;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
        }
        .line {
          width: 131px;
          height: 5px;
          background-color: $highlight-text-color;
        }
        .content {
          margin-top: 20px;
          font-size: 13px;
          line-height: 18px;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 3;
        }
        .read-more {
          font-size: 13px;
          line-height: 18px;
          color: $highlight-text-color;
          position: absolute;
          bottom: 2rem;
          cursor: pointer;
          svg {
            width: 19px;
            height: 14px;
            position: relative;
            top: 3px;
            margin-left: 8px;
          }
        }
        a.read-more:hover {
          border-bottom: $highlight-text-color;
        }
      }

      .feed-image {
        flex: 2;
        height: 100%;
      }
    }

    .block-feed {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: auto;
      width: 90%;
      color: $dark-theme-text-color;
    }
    .button-container {
      width: 100%;
      text-align: center;
      border-radius: $main-border-radius;
      padding: 30px 0;
      .button-view {
        padding: 15px 50px;
        border-radius: 30px;
        border: none;
        background: $primary-button-color;
        color: #fff;
        font-size: 20px;
        font-weight: bold;
        cursor: pointer;
        margin-bottom: 20px;
        &.light {
          background: $light-button-background-color;
        }
        &.dark {
          background: $dark-button-background-color;
        }
      }
    }
  }
}
