@import "../GlobalStyle.scss";
.container-login {
  display: flex;
  justify-content: center;
  align-items: center;
  @include for-size(tablet-lg) {
    align-items: unset;
  }

  &-img {
    $height-img: 78rem;
    position: absolute;
    width: 100%;
    height: 80rem;
    @include for-size(tablet-lg) {
      height: $height-img;
    }
  }
  &-container {
    display: flex;
    position: relative;
  max-width: 1400px;
  width: 100%;
    justify-content: space-around;

    @include for-size(tablet-lg) {
      display: block;
    }
    &-left {
      width: 50%;
      display: flex;
      align-items: center;
      @include for-size(tablet-lg) {
        justify-content: center;
        width: 100%;
      }

      .container-bc {
        margin-left: 10%;
        @include for-size(tablet-lg) {
          margin-left: 0;
          margin-top: 4rem;
        }
      }
      &-logo-icon {
        padding-bottom: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        & svg {
          width: 163px;
          height: 109px;
        }
        &-logo-icon {
          width: 100%;
          text-align: center;
          svg {
            width: 40px;
            flex-shrink: 0;
          }
        }
        &-brand-text {
          font-size: 25px;
          font-weight: bold;
          padding: 1rem;
        }
        &-second-logo {
          margin-left: 10px;
          width: 100px;
          height: 50px;
          img {
            width: 100%;
            height: 100%;
            transition: 0.4s;
            object-fit: contain;
          }
        }
      }
      .welcome-to-ccd {
        width: 100%;
        text-align: center;
        color: $highlight-element-color;
        font-weight: 700;
        font-size: 62px;
      }
      .title-sign-up-now {
        width: 100%;
        text-align: center;
        color: $light-button-background-color;
        font-size: 26px;
      }
    }

    &-right {
      .block-login {
        $width: 47rem;
        justify-content: space-between;
        padding: 2rem 4rem;
        width: $width;
        height: 48rem;
        background-color: $light-button-background-color;
        margin-top: 7rem;
        border-radius: 15px;
        position: relative;
        @include for-size(tablet-lg) {
          left: calc((100% - $width) / 2);
        }

        .close-button {
          &:hover {
            cursor: pointer;
          }
          border-radius: 7px;
          border: 1px solid $light-button-background-color;
          width: 46px;
          height: 46px;
          background-color: $light-button-background-color;
          outline: none;
          position: absolute;
          top: 2rem;
          right: 2rem;

          & svg {
            width: 1.5rem;
            height: 1.5rem;
          }
        }
        .title-login {
          padding-bottom: 3rem;
          font-weight: 600;
          font-size: 36px;
        }
        .title-username {
          padding-bottom: 1rem;
          font-weight: 600;
          font-size: 17px;
        }
        .input-username {
          outline-style: none;
          padding-left: 1rem;
          width: 100%;
          height: 52px;
          border-radius: 5px;
          font-size: 17px;
          border: 1px solid $main-border-color;
        }
        .input-password {
          outline-style: none;
          width: 100%;
          height: 52px;
          padding-left: 1rem;
          font-size: 30px;
          border-radius: 5px;
          &::placeholder {
            font-size: 30px;
            position: absolute;
            top: 0.6rem;
          }
          left: 0;
          border: 1px solid $main-border-color;
        }
        .password-bar {
          position: relative;

          &-eyeIcon {
            &:hover {
              cursor: pointer;
            }
            position: absolute;
            border-radius: 5px;
            right: 20px;
            margin-top: 1rem;
            border: none;
            background-color: $light-theme-main-color;
            & svg {
              width: 22px;
              height: 22px;
              border: none;
              border-radius: 5px $light-button-background-color;
            }
          }
        }
        .title-password {
          padding: 2rem 0rem 1rem 0rem;
          font-weight: 600;
          font-size: 17px;
        }
        .container-checkbox {
          display: flex;
          padding: 2rem 0rem 2rem 0rem;
          & label {
            border-radius: 15px;
          }
          .cb-remember {
            &:hover {
              cursor: pointer;
            }
            width: 20px;
            height: 20px;
            border-radius: 1px solid $main-border-color;
          }
          .title-remember {
            font-size: 16px;
            color: $main-border-color;
            margin-left: 1rem;
          }
        }
        .button-login-your-account {
          &:hover {
            cursor: pointer;
          }
          background-color: $dark-theme-main-color;
          font-weight: 700;
          width: 100%;
          height: 52px;
          color: $light-button-background-color;
          border-radius: 5px;
          outline: none;
          border: none;
          font-size: 16px;
        }
        .title-or {
          display: flex;
          color: $main-border-color;
          align-items: center;
          font-size: 16px;
          padding: 1.5rem 0rem 1.5rem 0rem;
          .line1 {
            width: 244px;
            height: 1px;
            background-color: $main-border-color;
          }
          .line2 {
            width: 244px;
            height: 1px;
            background-color: $main-border-color;
          }
          .text-or {
            margin-left: 1rem;
            margin-right: 1rem;
          }
        }
        .button-continue-with-gg {
          &:hover {
            cursor: pointer;
          }
          align-items: center;
          display: flex;
          background-color: $highlight-element-color;
          font-weight: 700;
          width: 100%;
          height: 52px;
          color: $dark-theme-main-color;
          border-radius: 5px;
          outline: none;
          border: none;
          & svg {
            margin-left: 13rem;
          }
          .text-ctn-gg {
            font-size: 16px;
            margin-left: 1rem;
          }
        }
        .title-create {
          &:hover {
            cursor: pointer;
          }
          text-align: center;
          font-weight: 700;
          font-size: 15px;
          padding-top: 3.5rem;
        }
        .forgot-password {
          &:hover {
            cursor: pointer;
          }
          display: flex;
          text-align: center;
          justify-content: center;
          padding-top: 1rem;
          font-size: 15px;
          .title-forgot-password {
            color: $main-border-color;
          }
          .title-recover {
            &:hover {
              cursor: pointer;
            }
            font-weight: 700;
            padding-left: 1rem;
          }
        }
      }
    }
  }
}
