@import "../GlobalStyle.scss";
.container-login {
  &-img{
    position: absolute;
  }
  &-container{
    
      display: flex;
      position: relative;
      // top: 0;
      &-left {
        width: 47%;
        
        &-logo-icon {
          padding-top: 342px;
          padding-bottom: 30px;
          display: flex;
          align-items: center;
          justify-content: center;
          & svg {
            width: 163px;
            height: 109px;
          }
          &-logo-icon {
            width: 100%;
            text-align: center;
            svg {
              width: 40px;
              flex-shrink: 0;
            }
          }
          &-brand-text {
            font-size: 25px;
            font-weight: bold;
            padding: 10px;
            &.light {
              border-right: 3px solid #000;
              color: $light-theme-text-color;
            }
            &.dark {
              border-right: 3px solid #fff;
              color: $dark-theme-text-color;
            }
          }
          &-second-logo {
            margin-left: 10px;
            width: 100px;
            height: 50px;
            img {
              width: 100%;
              height: 100%;
              transition: 0.4s;
              object-fit: contain;
            }
          }
        }
        .welcome-to-ccd{
          width: 100%;
          text-align: center;
          color: #fff;
          font-weight: 700;
          font-size: 62px;
          
        }
        .signupnow{
          width: 100%;
          text-align: center; 
          color: #fff;
          font-size: 26px;
        }
      }
    
      &-right {
        .block-login{
          padding: 25px 0px 0px 107px;
          width: 744px;
          height: 746px;
          background-color: #fff;
          margin-top: 142px;
          border-radius: 15px;
          .title-login{
            padding-bottom: 46px;
            font-weight: 600;
            font-size: 36px;
          }
          .title-username{
            padding-bottom: 12px;
            font-weight: 600;
            font-size: 17px;
          }
          .input-username{
            width: 528px;
            height: 52px;
            &::placeholder {
              padding-left: 10px;
              font-size: 14px;
            }
          }
          .input-password{
            width: 528px;
            height: 52px;
            border-radius: 10px;
            border-color: #D9E1E7;
            outline: none;
            left: 0;
          }
          .password-bar {
            & svg {
              position: relative;
              left: 30px;
            }
          }
          .title-password{
            padding:29px 0px 12px 0px;
            font-weight: 600;
            font-size: 17px;
          }
          .container-checkbox {
            display: flex;
            .cb-remember {

            }
            .title-remember{
              font-size: 16px;
              color: $input-boder-color;
            } 
          }
          
          .button-login-your-account{
            background-color: #000;
            font-weight: 800;
            width: 528px;
            height: 52px;
            color: #fff;
            border-radius: 15px;
            outline: none;
          }
          .button-continue-with-gg{
            background-color: $highlight-element-color;
            font-weight: 800;
            width: 528px;
            height: 52px;
            color: $dark-theme-main-color;
            border-radius: 15px;
            border-color: $light-button-background-color;
          }
          .title-create{
            text-align: center;
            font-weight: 700;
            font-size: 15px;
            padding-top: 81px;
          }
          .forgot-password{
            display: flex;
            text-align: center;
            justify-content: center;
            padding-top: 10px;
            .title-forgot-password{
              color:$input-boder-color ;
            .title-recover{
              font-weight: 900;
              font-size: 50px;
            }
            }
          
          }

        }
        
        
      }
    }
  
}

