@import "../../GlobalStyle.scss";
.historical-container{
  .single-input-field {
    width: 500px;
  }
}
.single-input-field {
  width: 500px;
}
.chart-container{
  height: 400px;
  width: 100%;
  margin-bottom: 20px;
}