@import "../GlobalStyle.scss";
.admin-side-bar {
  background: $light-theme-main-color;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  .top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .logo-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    svg {
      width: 30px;
    }
  }
  a {
    transition: 0.4s;
    color: $light-theme-text-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
    padding: 10px 0;
    padding-right: 10px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    i {
      margin-bottom: 10px;
    }
    &.link-active {
      background: $light-theme-secondary-color;
    }
    &:hover {
      background: $light-theme-secondary-color;
    }
  }
  .bottom {
    flex-direction: column;
    display: flex;
    a {
      margin-bottom: 10px;
    }
  }
}
