@import "../GlobalStyle.scss";
.footer {
  width: 100%;
  color: $light-theme-text-color;
  padding-bottom: 20px;
  min-height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &.light {
    background-color: $light-theme-secondary-color;
    color: $light-theme-text-color;
  }
  &.dark {
    background-color: $dark-theme-main-color;
    color: $dark-theme-text-color;
  }

  .container {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin: auto;
    padding: 20px 0;
    .navigate {
      .title-footer {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 20px;
      }

      .body {
        display: flex;
        justify-content: space-between;

        .body-left {
          a {
            margin-bottom: 15px;
            display: block;
            color: $light-theme-text-color;

            &.light {
              color: $light-theme-text-color;
            }
            &.dark {
              color: $dark-theme-text-color;
            }
          }
        }

        .body-right {
          a {
            margin-bottom: 15px;
            display: block;
            color: $light-theme-text-color;

            &.light {
              color: $light-theme-text-color;
            }
            &.dark {
              color: $dark-theme-text-color;
            }
          }
        }
      }
    }

    .stay-connected {
      .title-footer {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 20px;
        padding-left: 2px;
      }

      .body {
        display: flex;
        justify-content: space-between;
        width: 100%;

        svg {
          width: 45px;
          height: 45px;

          &.light {
            fill: $light-theme-text-color;
          }
          &.dark {
            fill: $dark-theme-text-color;
          }
        }
      }
    }
    .notifications {
      .title-footer {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 20px;
      }

      .body {
        min-width: 368px;
        display: flex;
        $border-size: 35px;

        .input-text {
          width: 224px;
          height: 55px;
          background-color: $light-theme-main-color;
          border-top-left-radius: $border-size;
          border-bottom-left-radius: $border-size;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
          border-color: transparent;
          padding-left: 18px;
          outline: none;
          &::placeholder {
            color: $input-boder-color;
          }
        }
        .button-notify-me {
          width: 144px;
          text-align: center;
          font-size: 15px;
          border: none;
          background-color: $highlight-text-color;
          border-top-right-radius: $border-size;
          border-bottom-right-radius: $border-size;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
          font-weight: 700;
          color: $light-button-background-color;
          cursor: pointer;
        }
      }
    }
  }
  .footer-line {
    width: 1200px;
    height: 1px;
    margin: auto;
    &.light {
      background-color: $light-theme-text-color;
    }
    &.dark {
      background-color: $dark-theme-text-color;
    }
  }
}
