@import '../GlobalStyle.scss';
.header {
  padding: 10px;
  border-bottom: 1px solid $main-border-color;
  .header-container{
    margin: auto;
    display: flex;
    justify-content: space-between;
    .logo-container {
    display: flex;
    align-items: center;
    .logo-icon {
      svg {
        width: 40px;
        flex-shrink: 0;
      }
    }
    .brand-text {
      font-size: 25px;
      font-weight: bold;
      padding: 10px;
      border-right: 3px solid #000;
    }
    .second-logo {
      margin-left: 10px;
      width: 100px;
      height: 50px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  .nav-bar {
    display: flex;
    align-items: center;
    a {
      font-size: 20px;
      padding: 2px 0;
      margin: 0 10px;
      font-weight: bold;
      position: relative;
    }
    a::after {
      content: "";
      position: absolute;
      width: 0;
      height: 3px;
      bottom: -10px;
      left: 0;
      background-color: black;
      visibility: hidden;
      transition: all 0.4s ease-in-out;
    }
    a:hover::after {
      visibility: visible;
      width: 100%;
    }
    .link-active::before{
      content: "";
      position: absolute;
      width: 0;
      height: 3px;
      bottom: -10px;
      left: 0;
      background-color: black;
      visibility: visible;
      width: 100%;
    }
  }
  .theme-toggle{
    display: flex;
    align-items: center;
  }}
}
